<!DOCTYPE html>
<html lang='en'>
	<head>
		<meta charset='UTF-8'>
		<meta name='viewport' content='width=device-width, initial-scale=1.0'>
		<title>Telegram Relations Graph</title>
		<script src='https://d3js.org/d3.v5.min.js'></script>
		<link href='index.css' rel='stylesheet' type='text/css'>
			</head>
	<body>
		<div class='info-container' hidden>
			<div id='node-name'></div>
			<div id='node-link'></div>
			<div id='node-participants'></div>
			<div id='node-description'></div>
			<div id='node-forwarded-list'></div>
			<div id='node-who-forwarded-list'></div>
		</div>
		<div id='search-container'>
			<input id='search' type='text' placeholder='пошук'>
			<div id='search-results' hidden></div>
		</div>
		<script>
			const nodes = <%- JSON.stringify(nodes) %>;
			const links = <%- JSON.stringify(edges) %>;
		</script>
		<script src='index.js'></script>
	</body>
</html>